cleanup = true

params {
   out_dir = './output'
   report_dir = './reports'

   //default workflow
   workflow = 'decoding_image_series'

   //registration parameters
   registration_method = 'microaligner'
   reference_channel = 'DAPI'
   reference_cycle = 1
   n_cycle_int = null
   images = [[
      [id: 'run_id'],
      [
         'cycle1',
         'cycle2',
      ],
   ]]

   image_stack = [[[id: 'image_stack_id'], 'image_stack.tif']]

   //decoding related parameters
   codebook = [[id: ''], 'codebook.csv', 'readouts.csv']
   chs_to_call_peaks = [1, 2]

   //segmentation related parameters
   cell_diameters = [30]
   ch_channel_names_json = null

   //proseg parameters
   pixel_size = 1

   //omero upload related parameters
   importsegmentation = null

   //webatlas related parameters
   http_base_url = 'http://webatlas.cog.sanger.ac.uk/s3'
}

profiles {
   local {
      process {
         executor = 'local'
         // Capture exit codes from upstream processes when piping
         shell = ['/bin/bash', '-euo', 'pipefail']
      }
   }

   lsf {
      includeConfig 'conf/sanger.config'
      process.queue = 'imaging'
   }

   docker {
      docker.enabled = true
      singularity.enabled = false
   }

   singularity {
      singularity.enabled = true
      singularity.autoMounts = true
      process.containerOptions = "--containall --cleanenv --no-mount /lib"
   }

   cub {
      process {
         queue = "cub22-inference"
         clusterOptions = { "-gpu 'num=1:gmem=10000:mode=shared'" }
      }
   }
}

includeConfig 'conf/module.config'

nextflow.enable.moduleBinaries = true

manifest {
   name = "PaSTa"
   description = "Pan-spatial transcriptomics analysis pipeline"
   author = "Tong LI"
   version = "0.1.1"
}

plugins {
   id 'nf-prov'
}

prov {
   enabled = false
   formats {
      bco {
         file = 'bco.json'
         overwrite = true
      }
      wrroc {
         file = 'ro-crate-metadata.json'
         overwrite = true
      }
   }
}
