process {
  errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'terminate' }
  maxRetries = 5
  memory = { 2.GB * task.attempt }
  //default memory for all processes

  withName: IMAGING_MICROALIGNER {
    cpus = 10
    memory = { 50.GB * task.attempt }
    queue = "imaging"
  }

  withName: TO_SPATIALDATA {
    ext.args = "--feature_col 'Name'  --expansion_in_pixels 80 --save_label_img True --raw_image_channels_to_save [0] "
    memory = { 20.GB * task.attempt }
  }

  withName: IMAGING_TILEDSPOTIFLOW {
    memory = { 20.GB * task.attempt }
    clusterOptions = '-gpu "mode=shared:num=1:gmem=2048"'
    queue = "gpu-normal"
  }

  withName: IMAGING_CELLPOSE {
    memory = { 30.GB * task.attempt }
    clusterOptions = '-gpu "mode=shared:num=1:gmem=8192"'
    queue = "gpu-normal"
    ext.args = "--channels [0,0]"
    maxForks = 6
  }

  withName: IMAGING_POSTCODE {
    memory = { 20.GB * task.attempt }
    ext.args = "--codebook_target_col Gene --codebook_code_col Code --coding_col_prefix 'Readout_*' --min_prob 0.95"
    queue = "normal"
  }

  withName: MERGEPEAKS {
    memory = { 20.GB * task.attempt }
  }

  withLabel: large_mem {
    memory = { 80.GB * task.attempt }
  }

  withLabel: medium_mem {
    memory = { 20.GB * task.attempt }
  }
  withName: EXTRACT_PEAK_PROFILE {
    memory = { 20.GB * task.attempt }
  }
  withName: OMERO_IMPORTSEGMENTATION {
    memory = { 40.GB * task.attempt }
    containerOptions = "-v /nfs:/nfs"
  }

  withName: SPATIALDATA_EXPORTOMEROTABLE {
    memory = { 60.GB * task.attempt }
    ext.args = '--transcript-buffer 2'
  }
}
